bin/
obj/

AwkToC/bin/
AwkToC/obj/
AwkToC/net8.0/
AwkToC/grammar/.antlr/
AwkToC/grammar/*.cs
AwkToC/grammar/*.interp
AwkToC/grammar/*.tokens
AwkToC/AwkToC.csproj.lscache

AwkToC.Tests/AwkToC.Tests.csproj.lscache